<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Aboreto&family=DM+Sans:wght@500&family=Lexend+Exa:wght@100..900&family=Rowdies:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AjudaAki</title>
  </head>
  <body>
    <div class="cor_bg">
      <div class="box-navbar">
        <div class="title">
          <h1 class="text_principal animacao">AjudaAki</h1>
          <div class="box-logo">
            <img
              class="logo-imagem"
              src="../../../assets/images/(Logo) canva.png"
            />
          </div>
        </div>
        <div class="login-singup">
          <button class="btn_azul text_medio" type="button" routerLink="login">
            Entrar no site
          </button>
        </div>
      </div>
      <div class="content cor_bg">
        <div class="box-sobre">
          <div class="box-imagemSobre">
            <img
              class="imagem-sobre"
              src="../../../assets/images/homeImages/mulher biblioteca (1).jpeg"
            />
          </div>
          <div class="texto-sobre">
            <p class="text_medio">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem
              veritatis distinctio dolore voluptas, quos ea odio perspiciatis
              debitis, cum doloremque eos! Itaque ducimus quisquam iure et, ea
              dignissimos aperiam quo. Lorem ipsum dolor, sit amet consectetur
              adipisicing elit.
              <br />Autem veritatis distinctio dolore<br />
              voluptas, quos ea odio perspiciatis debitis, cum doloremque
              eos!<br />
              Itaque ducimus quisquam iure et, ea dignissimos aperiam quo. Lorem
              ipsum dolor, sit amet consectetur adipisicing elit.<br />
              <a routerLink="perfil-prof">tela perfil</a>
            </p>
          </div>
        </div>

        <div class="professor">
        <div class="prof-sobre">
          <div class="prof-sobreImage">
            <img
              class="img_media"
              src="../../../assets/images/homeImages/Professora.jpeg"
            />
          </div>
          <div class="info-texto">
            <h2 class="text_sub">Professor</h2>
            <p class="text_medio">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum
              iure id eos fuga,<br />
              amet eius quisquam es se ullam, nemo blanditiis repellat est atque
              velit dolor<br />
            </p>
          </div>
        </div>
    </div>
        <div class="aluno">
          <div class="aluno-box">
            <div class="info-texto">
              <h2 class="text_sub">Aluno</h2>
              <p class="text_medio">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.Dicta
                placeat consequuntur enim voluptate culpa, maiores nam aut
                exercitationem corporis cumque nisi magni nobis et cupiditate
                amet? Voluptatibus inventore repellat vero?
              </p>
            </div>
            <img
              class="img_media"
              src="../../../assets/images/homeImages/Aluno.jpeg"
            />
          </div>
        </div>
      </div>
      <div class="box-signup">
        <div class="login-singup">
          <button class="btn_azul text_medio" type="button" routerLink="login">
            Entrar no site
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
