body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}


.content{
    padding-left:40px;

}


.box-logo{  
    width: 75px;
    height: 75px;
}


.logo-imagem{
    position: fixed;
    width: 80px;
    height: 80px;
    border-radius: 7px;
    bottom: 8px;
    right: 0; 
}


.box-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    
    background-color: #E80049;
    
    
}


.title{
    padding-left: 40px;
    color: white;
    font-weight: 700;
}


.login-singup{
    display: flex;
    margin-right: 50px;
    gap:10px
}


.login{
    height: 40px;
    width: 80px;
    color: white;
    border: none;
    text-align: center; 
    cursor: pointer; 
    border-radius: 10px;
    transition: background-color 0.3s ease;
    background-color: #4B383B;
    transition: transform 0.3s ease;
}


.login:hover{
    background-color:  #302426;
    transform: scale(1.07);
}


.singup{
    height: 40px;
    width: 80px;
    color: white;
    border: none;
    text-align: center; 
    cursor: pointer; 
    border-radius: 10px;
    transition: background-color 0.3s ease;
    background-color: #4B383B;
    transition: transform 0.3s ease;
}


.singup:hover{
    background-color:  #302426;
    transform: scale(1.07);
}


.box-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
}


p{
    font-size: 24px;
}


.imagem-sobre{
    width: 1224px;
    height: auto;
    margin-top: 64px;
    border-radius: 18px;
}


.texto-sobre{
    text-align: justify;
    width: 1224px;
}



.prof-sobre{
    display: flex;
    flex-direction: row;
    width: 100%;
}


.prof-image{
    width: 246px;
    height: 369px;
    margin-top: 50px;
    margin-left: 220px;
    border-radius: 18px;
}


.h2{
    font-size: 48px;
    
}


.h2-prof{
    font-size: 48px;
    margin-bottom: 20px;
}


.prof-texto{
    margin-top: 55px;
    margin-left: 20px;
}


.aluno-box{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}


.h2-aluno{
    font-size: 48px;
    margin-left: 700px;
    margin-bottom: 30px;
}


.aluno-texto{
    display: flex;
    flex-direction:  column;
    margin-top: 30px;
    margin-left: 100px;
} 


.aluno-image{
    display: flex;
    flex-direction: row;
    width: 346px;
    height: 400px;
    margin-right: 100px;
    border-radius: 18px;
}


