body{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box-logo{  
    width: 80px;
    height: 80px;
}


.logo-imagem{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    bottom: 8px;
    right: 0; 
    margin-left: 10px;
}


.box-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #E80049;
    
    
}


.title{
    padding-left: 40px;
    color: white;
    font-weight: 700;
}


.login-singup{
    display: flex;
    margin-right: 50px;
    gap:10px
}


.login{
    height: 40px;
    width: 200px;
    color: white;
    border: none;
    text-align: center; 
    cursor: pointer; 
    border-radius: 10px;
    transition: background-color 0.3s ease;
    background-color: #618CFA;
    transition: transform 0.3s ease;
    
}


.login:hover{
    background-color:  #7298f8;
    transform: scale(1.07);
}


.singup{
    height: 40px;
    width: 80px;
    color: white;
    border: none;
    text-align: center; 
    cursor: pointer; 
    border-radius: 10px;
    transition: background-color 0.3s ease;
    background-color: #4B383B;
    transition: transform 0.3s ease;
}


.singup:hover{
    background-color:  #302426;
    transform: scale(1.07);
}


.box-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.box-imagem-sobre{
    width: 100%;
}
.imagem-sobre{
    width: 100%;
    height: auto;
    margin-top: 64px;
    border-radius: 18px;
}


.texto-sobre{
    text-align: justify;
    width: 90%;
}


.professor{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.prof-sobre{
    display: flex;
    max-width: 958px;
    align-items: center;
    
}

.aluno{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    
}
.aluno-box{
    display: flex;
    max-width: 958px;
    align-items: center;
    justify-content: center;
    
}
.info-texto{
    display: flex;
    flex-direction:  column;
    margin-top: 30px;
    margin-left: 10px;
    width: 690px;

} 


.aluno-image{
    display: flex;
    flex-direction: row;
}


.box-signup{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
    margin: 40px 0 80px 0;
}