<div class="content">
    <div class="opcoes">
        <div class="box-voltar">
            <img class="img-arrow-back" routerLink="" src="../../../assets/images/arrow back.png">
            <button type="button" class="voltar" routerLink="">Voltar</button>
        </div>
        <div class="modos">
            <div class="box-switch">
                <button type="button" class="botao-switch" (click)="toggleSwitch()">
                <img class="img-switch" [src]="img_switch" alt="imagem-switch">
                </button>
                <div class="modos-perfil" [ngClass]="{'modo-aluno': modoAluno, 'modo-professor': !modoAluno}">
                    {{ modoAluno ? 'Modo Aluno' : 'Modo Professor' }}
                </div>
            </div>
        </div>
    </div>
    <div class="box-h1">
        <h1 class="h1">Seu perfil</h1>
    </div>
    <div class="box-infos">
        <div class="dados-pessoais">
            <div class="campos-pessoais">
                <div class="camp-nome">   
                    <p>Nome</p>
                    <input type="text" class="input-dados" placeholder="Nome">
                </div>
                <div class="camp-email">
                    <p>E-mail</p>
                    <input type="email" class="input-dados" placeholder="E-mail">
                </div>
                <div class="camp-senha">
                    <p>Senha</p>
                    <input type="text" class="input-dados" placeholder="Senha">
                </div>
                <div class="camp-confSenha">
                    <p>Confirmar senha</p>
                    <input type="text" class="input-dados" placeholder="Confirmar senha">
                </div>
                <div class="camp-tel">
                    <p>Telefone</p>
                    <input type="text" class="input-dados" placeholder="Telefone (apenas números)">
                </div>
                <div class="camp-cpf">
                    <p>CPF</p>
                    <input type="text" class="input-dados" placeholder="CPF (Apenas números)">
                </div>
                <div class="camp-data">
                    <p>Data de nascimento</p>
                    <input type="date" class="camp-data" placeholder="Data de nascimento">
                </div>
            </div>
        </div>
        <div class="dados-endereco">
            <div class="campos-endereco">
                <div class="camp-estado">
                    <p>Estado</p>
                    <input type="text" class="input-endereco" placeholder="Estado" >
                </div>
                <div class="camp-cidade">
                    <p>Cidade</p>
                    <input type="text" class="input-endereco" placeholder="Cidade">
                </div>
                <div class="camp-bairro">
                    <p>Bairro</p>
                    <input type="text" class="input-endereco" placeholder="Biarro">
                </div>
                <div class="camp-rua">
                    <p>Rua</p>
                    <input type="text" class="input-endereco" placeholder="Rua">
                </div>
                <div class="camp-numero">
                    <p>Número</p>
                    <input type="text" class="input-endereco" placeholder="Número">
                </div>
            </div>
        </div>
        <div class="dados-foto">
                <img class="img-mais" src="../../../assets/images/add_.png">
        </div>
    </div>
    <div  class="campos-prof" *ngIf="canShow">
        <div class="box-discricoes">
            <div class="box-descri-rapida">
                <h2>Descrição rápida</h2>
                <input type="text" class="input-descr" placeholder="">
                <p class="p">Fale um pouco sobre suas aulas, qual seu foco, métodos...</p>
            </div>
            <div class="box-descri-longa">
                <div class="box-input-descrLonga">
                    <h2 class="h2-descri">Descrição</h2>
                    <input type="text" class="input-descrLonga" placeholder="">
                    <p class="p">Fale um pouco sobre suas aulas, qual seu foco, métodos</p>
                </div>
            </div>
        </div>
        <div class="box-area-dias">
            <div class="area">
                
            </div>
            <div class="dias">

            </div>
        </div>
        <div class="box-horarios">
            <div class="horarios">

            </div>
        </div>
    </div>
    <div class="box-salvar">
        <div class="botao-posicao">
            <button class="botao">Salvar</button>
        </div>
    </div>
</div>